 body{
   margin: 0;
    padding: 0;
}  
  
 .form {
    margin-top: 20px;
  }
 
  .card {
  
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .row {
    margin-bottom: 15px;
  }
  
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input.form-control {
    width: 100%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .GrandTotal {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  .formButton {
    background-color: #8d3b50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: rgba(52, 107, 52, 0.795);

  }
  